<!--
  Generated template for the ItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
    <ion-title>Colección</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <h2>{{comunidad.shortDescription}}</h2>
    <p class="subtitulo">{{comunidad.name}}</p>

    <p text-left>{{comunidad.introductoryText}}</p>



    <h3 class="elementos">Elementos de la colección:</h3>

    <ion-spinner name="bubbles" *ngIf='spinner'></ion-spinner>
<ion-list>
  
  <ion-item *ngFor="let item of items" (click)="goToPage(item)"  text-wrap class="item-final" >
    
      {{ item.name }}
    
      <ion-icon name="arrow-forward" class="icon-menu" item-end></ion-icon>

  </ion-item>
</ion-list>

</ion-content>
