<!--
  Generated template for the ItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
    <ion-title>Articulo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>{{title}}</h1>

     
      <b>Autor/es</b>
    <p><span *ngFor="let autor of autores">
      {{ autor.value}}.
    </span></p>
      
    <p>
      <ion-badge class="background-gradient" item-end  *ngFor="let tag of tags">
        {{tag.value}}
      </ion-badge>
    </p>

    <b>Reseña</b>
    <p class="resena">
      {{ description.value}}
    </p>


    <div text-center> 


      <ion-spinner name="bubbles" *ngIf='spinner'></ion-spinner>


 <button ion-button block round (tap)='showOnBrowser()'>Descargar</button>


</div>


</ion-content>
