ion-badge{
    margin: 5px;
    padding: 10px; 
    border-radius: 15px !important;
    font-weight: normal;
    font-size: 70%;
    text-transform: uppercase;
}
p {text-align: justify;
line-height: 150%}