<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="text-center">
        <ion-img class="logo-inicio" width="300" height="120" src="./assets/imgs/beu.png"></ion-img>
    </div>


    <ion-searchbar
    [(ngModel)]="query"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="searchQuery($event)"
    (ionCancel)="onCancelSearch($event)"
    placeholder="Buscar elementos por descripción"
    autocomplete="false"
    >
  </ion-searchbar>

    <div *ngIf='query === ""'>
        <ion-card class="card-comunidad"  *ngFor="let comunidad of comunidades" (click)="goToPage(comunidad)" >
                <ion-fab right>
                        <button ion-fab mini><ion-icon name="arrow-forward"></ion-icon></button>
                    </ion-fab>   
            <ion-card-header>
                                
                <ion-card-title>               
                    {{ comunidad.name | uppercase }}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>{{comunidad.shortDescription}}.</p>
            </ion-card-content>
        </ion-card> 
    </div>
    <div *ngIf='query !== ""'>
        
    <ion-list>
      
      <ion-item *ngFor="let item of busqueda" (click)="goToPage(item)"  text-wrap class="item-final" >
        
          {{ item.name }}
        
          <ion-icon name="arrow-forward" class="icon-menu" item-end></ion-icon>
    
      </ion-item>
    </ion-list>
    
    <div padding>
        <button ion-button outline round full block (click)='searchMore()' >Más resultados</button>
    </div>
 </div>
 <ion-spinner name="bubbles" *ngIf='spinner'></ion-spinner>

</ion-content>



